# Recommended for most uses
DATABASE_URL="your_database_url_here"

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED="your_unpooled_database_url_here"
# Parameters for constructing your own connection string
PGHOST="your_host_here"
PGHOST_UNPOOLED="your_unpooled_host_here"
PGUSER="your_user_here"
PGDATABASE="your_database_here"
PGPASSWORD="your_password_here"
# Parameters for Vercel Postgres Templates
POSTGRES_URL="your_postgres_url_here"
POSTGRES_URL_NON_POOLING="your_postgres_url_non_pooling_here"
POSTGRES_USER="your_postgres_user_here"
POSTGRES_HOST="your_postgres_host_here"
POSTGRES_PASSWORD="your_postgres_password_here"
POSTGRES_DATABASE="your_postgres_database_here"
POSTGRES_URL_NO_SSL="your_postgres_url_no_ssl_here"
POSTGRES_PRISMA_URL="your_postgres_prisma_url_here"